<ion-content>
  <div class="content-container">
    <div class="date-picker-container">
      <div class="month-picker">
        <ion-icon
          name="arrow-back"
          class="arrow-back"
          (click)="previousMonth()"
        ></ion-icon>
        <ion-label class="month-label"
          >{{diaryEntry ? diaryEntry.date.toLocaleString('default', { month:
          'long', year: "numeric" }) : "Some Month"}}</ion-label
        >
        <ion-icon
          name="arrow-forward"
          class="arrow-forward"
          (click)="nextMonth()"
        ></ion-icon>
      </div>
      <div class="day-picker">
        <ion-slides [options]="slidesOptions" #slider>
          <ion-slide *ngFor="let day of days">
            <ion-chip
              (click)="selectDay(day)"
              class="day-chip"
              [ngClass]="{'selected': day.selected}"
            >
              <ion-label class="day-chip-name">{{day.name}}</ion-label>
              <ion-label class="day-chip-date"
                >{{day.date.getDate()}}</ion-label
              >
            </ion-chip>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <div class="caloric-progress-container">
      <circle-progress
        [percent]="caloricProgress"
        [subtitle]="currentCalories"
        [subtitleColor]="caloricProgress >= 100 ? 'red' : '#fff'"
        [innerStrokeColor]="caloricProgress >= 100 ? 'red' : '#5E5CE6'"
        [outerStrokeColor]="caloricProgress >= 100 ? 'red' : '#bf5af2'"
      ></circle-progress>
    </div>

    <div class="meals-container">
      <ion-card class="meal-card" *ngFor="let meal of meals">
        <ion-card-header class="meal-card-header">
          <div>
            <ion-card-title>{{meal.name}}</ion-card-title>
            <ion-button
              class="save-meal-button"
              (click)="saveMeal(meal)"
              [disabled]="meal.calories === 0"
            >
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>

          <ion-badge color="primary">{{meal.calories}}</ion-badge>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item
              [ngClass]="foodEntry.id !== '' ? 'meal-food-item' : 'placeholder-meal-food-item'"
              [button]="foodEntry.id !== ''"
              *ngFor="let foodEntry of getEntriesForMeal(meal)"
              (click)="foodEntry.id !== '' ? selectFood(foodEntry) : 'console.log()'"
            >
              <ion-label text-wrap>{{foodEntry.foodItem.name}}</ion-label>
              <ion-badge color="primary" *ngIf="foodEntry.id !== ''"
                >{{foodEntry.totalCalories}}</ion-badge
              >
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
