ion-content {
  --background: #000;
}

.signup-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signup-part-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.signup-btn {
  align-self: center;
  margin-top: 20px;
  --background: linear-gradient(
    180deg,
    #5e5ce6 0%,
    rgba(227, 92, 230, 0.72) 100%
  );
  --background-hover: linear-gradient(
    180deg,
    rgba(227, 92, 230, 0.72) 0%,
    #5e5ce6 100%
  );
  width: 60%;
}

.signup-part-2 .signup-btn:first-child {
  width: auto;
  --background: transparent;
  --background-hover: transparent;
  --color: #5e5ce6;
}

ion-item {
  width: 100%;
  --background: transparent;
}

.login-text {
  font-size: 0.8rem;
  text-align: center;
}

.login-text a {
  color: #e35ce6;
}
