<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="diary">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
