<ion-content fullscreen>
  <div class="content-container">
    <ion-img src="assets/images/logo.png" class="logo"></ion-img>
    <ion-slides pager="md" pager="ios">
      <ion-slide class="splashscreen-slide">
        <img src="assets/images/splash-1.png" />
        <h3>Eat Healthy</h3>
        <p>Maintaining good health should be the primary focus of everyone.</p>
      </ion-slide>
      <ion-slide class="splashscreen-slide">
        <img src="assets/images/splash-2.png" />
        <h3>Eat Healthy</h3>
        <p>Maintaining good health should be the primary focus of everyone.</p>
      </ion-slide>
      <ion-slide class="splashscreen-slide">
        <img src="assets/images/splash-3.png" />
        <h3>Eat Healthy</h3>
        <p>Maintaining good health should be the primary focus of everyone.</p>
      </ion-slide>
    </ion-slides>
    <ion-button expand="block" href="/signup" class="get-started">
      Get Started
    </ion-button>
    <p class="login-text">
      Already have an account? <a href="/login">Login</a>
    </p>
  </div>
</ion-content>
