<ion-content fullscreen class="ion-align-items-center" class="ion-padding">
  <ion-img src="assets/images/logo.png" class="logo"></ion-img>
  <ion-slides pager>
    <ion-slide class="splashscreen-slide">
      <img src="assets/images/splash-1.png" />
      <h3>Eat Healthy</h3>
      <p>Maintaining good health should be the primary focus of everyone.</p>
    </ion-slide>
    <ion-slide class="splashscreen-slide">
      <img src="assets/images/splash-2.png" />
      <h3>Eat Healthy</h3>
      <p>Maintaining good health should be the primary focus of everyone.</p>
    </ion-slide>
    <ion-slide class="splashscreen-slide">
      <img src="assets/images/splash-3.png" />
      <h3>Eat Healthy</h3>
      <p>Maintaining good health should be the primary focus of everyone.</p>
    </ion-slide>
  </ion-slides>
  <!-- Create a button with the text "Get Started" that goes to sign up page -->
  <ion-button expand="block" href="/signup" class="get-started">
    Get Started
  </ion-button>
  <!-- create text that allows user to go to login page if they already have an account -->
  <p class="login-text">Already have an account? <a href="/login">Login</a></p>
</ion-content>
